%body
  - provide(:desc, 'CoderDojo 岡山 岡南 の公式サイトです。 CoderDojo とは、小中高生を対象とした無料プログラミング道場です。参加者（ニンジャ）の作りたいものを先生（メンター）がニンジャ目線で一緒に考え、アドバイスをし、 そしてモノづくりの楽しさを共有します！')
  .mdl-layout.mdl-js-layout
    %header.mdl-layout__header.mdl-layout__header--scroll.layout-transparent
      .mdl-layout__header-row
        / Title
        %span.mdl-layout-title
          %img{:alt => "CoderDojo Konan Okayama", :src => "#{asset_path "coderdojo-konan-header-logo.png"}"}/
        / Add spacer, to align navigation to the right
        .mdl-layout-spacer
        / Navigation
        %nav.mdl-navigation
          %a.mdl-navigation__link{:href => "#{@first_link[:url]}"}= @first_link[:text]
          %a.mdl-navigation__link{:href => "#{@second_link[:url]}"}= @second_link[:text]
          %a.mdl-navigation__link{:href => "#{@third_link[:url]}"}= @third_link[:text]
          %a.mdl-navigation__link{:href => "#{@fourth_link[:url]}"}= @fourth_link[:text]
      .header-section
        .header-section-text
          %h2 子供のためのプログラミング道場
          %h1 CoderDojo Konan Okayama
          %br/
          %p
            CoderDojo 岡山 岡南 は、小中高生を対象とした
            %strong> 無料プログラミング道場
            です。
            %br/
            参加者（ニンジャ）の作りたいものを先生（メンター）がニンジャ目線で一緒に考え、
            %br/
            アドバイスをし、 そしてモノづくりの楽しさを共有します！
        .header-section-button
          - unless next_event_url.nil?
            = link_to "次回の開催Check!", next_event_url, class: 'btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-js-ripple-effect'
    .mdl-layout__drawer
      %span.mdl-layout-title CoderDojo Konan Okayama Official Site
      %nav.mdl-navigation
        %a.mdl-navigation__link{:href => "#{@first_link[:url]}"}= @first_link[:text]
        %a.mdl-navigation__link{:href => "#{@second_link[:url]}"}= @second_link[:text]
        %a.mdl-navigation__link{:href => "#{@third_link[:url]}"}= @third_link[:text]
        %a.mdl-navigation__link{:href => "#{@fourth_link[:url]}"}= @fourth_link[:text]
    %main.mdl-layout__content
      %article
        %section#about-section
          .about-section-card.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              %h1.mdl-card__title-text CoderDojo って？
            .mdl-card__supporting-text
              / Twitter
              .button.twitter.twitter-share-button-style
                %a.twitter-share-button{"data-lang" => "en", "data-text" => "CoderDojo Konan Okayama Official Site", "data-url" => "#{request.original_url}", :href => "https://twitter.com/share"} Tweet
              / Facebook
              .button.facebook.fb-share-button-style
                .fb-share-button{"data-href" => "#{request.original_url}", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "small"}
                  %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}&src=sdkpreparse", :target => "_blank"} Share
              %p
                CoderDojo は7〜17歳の子どもを対象にした無料で参加できるプログラミング道場(サークル)です。
                %br/
                2011年にアイルランドで始まり、世界では70カ国・1,200の道場、日本では全国に84以上の道場があります。(2017/5/27現在)
              %p
                各地のCoderDojoは、それぞれの有志がボランティアで運営していて、
                %br/
                CoderDojoでは、Ninja同士（参加している子供をNinjaといいます。）で教えあったり、
                %br/
                わからないことがあれば、現役プログラマーを中心としたメンターさんに質問したりできます。
              %p CoderDojo で学べる内容は道場ごとに異なります。例えば、次の内容を学べる道場があります。
              %ul
                %li Scratch, Hour of Code
                %li HTML, CSS, JavaScript
                %li PHP, Python, Ruby, Unity
                %li Arduino, Raspberry Pi など
              %p 道場ごとに内容も規模も違いますが、Ninjaの自主性を重視している姿勢は一緒です。
        %section#language-section
          .language-section-card.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              %h1.mdl-card__title-text CoderDojo 岡山 岡南での主な言語・ツール
            .mdl-card__supporting-text
              .mdl-grid
                .mdl-cell.mdl-cell--3-col.mdl-cell--8-col-tablet.language-section-card-cell
                  %img{:alt => "Scratch Cat", :src => "#{asset_path "scratch-cat.png"}"}/
                  %p
                    %a{:href => "https://scratch.mit.edu/"} Scratch
                .mdl-cell.mdl-cell--3-col.mdl-cell--8-col-tablet.language-section-card-cell
                  %img{:alt => "Java Logo", :src => "#{asset_path "java-original.png"}"}/
                  %p
                    %a{:href => "https://www.java.com/ja/"} Java
                .mdl-cell.mdl-cell--3-col.mdl-cell--8-col-tablet.language-section-card-cell
                  %img{:alt => "Web系言語", :src => "#{asset_path "web-lang.png"}"}/
                  %p
                    %a HTML・CSS・JavaScript
                .mdl-cell.mdl-cell--3-col.mdl-cell--8-col-tablet.language-section-card-cell
                  %img{:alt => "Ruby (on Rails)", :src => "#{asset_path "ruby-original.png"}"}/
                  %p
                    %a{:href => "https://www.ruby-lang.org/ja/"} Ruby (on Rails)
        %section#summary-section
          .summary-section-card.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              %h1.mdl-card__title-text CoderDojo 岡山 岡南 の 開催概要
            .mdl-card__supporting-text
              %p
                %strong> 毎月 第三日曜日
                に開催しています。
              %p
                %strong> 事前申し込み制
                です。申し込みページよりお申し込みください。
              %p PCは無料でレンタル可能ですが、事前申込で、定員があります。
              %p 開始時刻の10分前には会場に到着しておいてください。
              %p 水筒などをお持ちの方は、開催前に指定場所においてください。
              %p
                %strong また、水分補給などは、指定場所ですること！（精密機械を扱っているため。）（配線に注意！）
        %section#partner-section
          .partner-section-card.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              %h1.mdl-card__title-text パートナー
            .mdl-card__supporting-text
              %h3 CoderDojo 岡山 岡南 は、これらのパートナー様のご支援によって成り立っております！
              %ul.partner-list
                %li.partner-list-item
                  %img#sakura-internet-logo{:src => "#{asset_path "sakura-internet.png"}"}/
                  .mdl-tooltip{"data-mdl-for" => "sakura-internet-logo"} 「さくらのクラウド」の無償提供
                  %p SAKURA INTERNET INC. 様
                %li.partner-list-item
                  %img#esa-io-logo{:src => "#{asset_path "esa.png"}"}/
                  .mdl-tooltip{"data-mdl-for" => "esa-io-logo"} ドキュメント共有サービスの提供
                  %p ESA.IO 様
                %li.partner-list-item
                  %img#rimgate-logo{:src => "#{asset_path "non-logo.png"}"}/
                  .mdl-tooltip{"data-mdl-for" => "rimgate-logo"} サーバー・ドメイン代などの支援
                  %p リムゲイト株式会社 様
        %section#contact-section
          .contact-section-card.mdl-card.mdl-shadow--2dp
            .mdl-card__title
              %h1.mdl-card__title-text お問い合わせ
            .mdl-card__supporting-text
              #wufoo-mv590ug0y8dwt7
                Fill out my
                = succeed "." do
                  %a{:href => "https://coderdojokonancontact.wufoo.com/forms/mv590ug0y8dwt7"} online form
              #wuf-adv{:style => "font-family:inherit;font-size: small;color:#a7a7a7;text-align:center;display:block;"}
                There are tons of
                %a{:href => "http://www.wufoo.com/features/"} Wufoo features
                to help make your forms awesome.
              %br/
              :javascript
                var mv590ug0y8dwt7;(function(d, t) {
                                  var s = d.createElement(t), options = {
                                  'userName':'coderdojokonancontact',
                                  'formHash':'mv590ug0y8dwt7',
                                  'autoResize':true,
                                  'height':'560',
                                  'async':true,
                                  'host':'wufoo.com',
                                  'header':'show',
                                  'ssl':true};
                                  s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                                  s.onload = s.onreadystatechange = function() {
                                  var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                                  try { mv590ug0y8dwt7 = new WufooForm();mv590ug0y8dwt7.initialize(options);mv590ug0y8dwt7.display(); } catch (e) {}};
                                  var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                                  })(document, 'script');
              .sns-contact-block
                .fb-page{"data-adapt-container-width" => "true", "data-hide-cover" => "false", "data-href" => "https://www.facebook.com/Coderdojo.Konan/", "data-show-facepile" => "true", "data-small-header" => "false", "data-tabs" => "timeline"}
                  %blockquote.fb-xfbml-parse-ignore{:cite => "https://www.facebook.com/Coderdojo.Konan/"}
                    %a{:href => "https://www.facebook.com/Coderdojo.Konan/"} CoderDojo 岡山 岡南
                .twitter-timeline-box
                  %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/CoderDojo_Konan"} Follow @CoderDojo_Konan
                  %a.twitter-timeline{"data-height" => "500", "data-theme" => "light", "data-width" => "340", :href => "https://twitter.com/coderdojo_konan?ref_src=twsrc%5Etfw"} Tweets by coderdojo_konan
      %footer.mdl-mini-footer
        .mdl-mini-footer__left-section
          .mdl-logo
            CoderDojo Konan Okayama Official Site
          %ul.mdl-mini-footer__link-list
            %li Copyright © 2018 CoderDojo Konan Okayama
        .mdl-mini-footer__right-section
          %button.mdl-mini-footer__social-btn
            %a{:href => "https://twitter.com/coderdojo_konan", :target => "_blank", :title => "Twitter"}
              %i.fa.fa-twitter
          %button.mdl-mini-footer__social-btn
            %a{:href => "http://facebook.com/Coderdojo.Konan/", :target => "_blank", :title => "Facebook"}
              %i.fa.fa-facebook
          %button.mdl-mini-footer__social-btn
            %a{:href => "https://www.instagram.com/coderdojo_konan/", :target => "_blank", :title => "Instagram"}
              %i.fa.fa-instagram
          %button.mdl-mini-footer__social-btn
            %a{:href => "https://github.com/CoderDojo-Konan-Okayama", :target => "_blank", :title => "Github"}
              %i.fa.fa-github
