 <% provide(:title, '次回の開催はまだ計画中です...') %>
 <div class="mdl-layout mdl-js-layout pages-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll pages-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a href="<%= root_path %>"><img src="/assets/coderdojo-konan-header-logo.png" alt="CoderDojo Konan Okayama"></a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">CoderDojo Konan Okayama Official Site</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <article>
        <section id="pages-section">
          <div class="pages-section-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h1 class="mdl-card__title-text">次回の開催はまだ計画中です...</h1>
            </div>
            <div id="pages_contents" class="mdl-card__supporting-text">
              <div class="entry-content">
		        <h1 style="text-align: center;"><span style="color: #ff6600;">次回の開催はまだ計画中です… 😉</span></h1>
                <h2 style="text-align: center;"><span style="text-decoration: underline;">日時、場所などが決定したら、各種SNSや、ブログなどでお知らせします！</span></h2>
                <h3 style="text-align: center;"><a href="http://konan-coderdojo.connpass.com/">イベント申込サービス（Connpass）グループページ</a></h3>
                <h4 style="text-align: center;">このグループに参加すると、イベントが公開される度にメールでお知らせされます！！</h4>
                <h3 style="text-align: center;">決定するまで、もうしばらくお待ちください！</h3>
                <p style="text-align: center;"><%= link_to 'トップページに戻る', root_path %></p>
            </div>
          </div>
        </section>
      </article>  
    </main>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">CoderDojo Konan Okayama Official Site</div>
          <ul class="mdl-mini-footer__link-list">
            <li>Copyright © 2018 CoderDojo Konan Okayama</li>
          </ul>
        </div>
    </footer>
  </div>