 <% provide(:title, '参加したNinjaの作品') %>
 <% provide(:desc, '参加したNinjaの作品です。<p>とてもユニークな発想で、とても面白いです。制作者のコメントと共にご覧ください。') %>
 <div class="mdl-layout mdl-js-layout pages-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll pages-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a href="<%= root_path %>"><img src="<%= asset_path "coderdojo-konan-header-logo.png" %>" alt="CoderDojo Konan Okayama"></a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">CoderDojo Konan Okayama Official Site</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <article>
        <section class="pages-section">
          <div class="pages-section-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h1 class="mdl-card__title-text">参加したNinjaの作品</h1>
            </div>
            <div class="pages-contents mdl-card__supporting-text">
              <div class="twitter-share-button-style"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="作品紹介 - CoderDojo 岡山 岡南 公式HP" data-url="<%= request.url %>" data-via="CoderDojo_Konan" data-hashtags="CoderDojo岡南" data-related="CoderDojo_Konan,CoderDojoJapan" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
              <div class="fb-share-button fb-share-button-style" data-href="<%= request.url %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcoderdojo-konan.jp%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
              <p>参加したNinjaの作品です。</p>
              <p>とてもユニークな発想で、とても面白いです。</p>
              <p>制作者のメッセージと一緒にご覧ください。</p>
              <p><strong>なお、作品を実際に動かすには、 Adobe Flash が必要となります！</strong></p>
              <p>対応した端末でご覧ください！</p>
            </div>
          </div>
        </section>
        <section class="pages-section">
          <div class="pages-section-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h1 class="mdl-card__title-text">アンダイン的な何か</h1>
            </div>
            <div class="pages-contents mdl-card__supporting-text">
              <div class="pages-col">
                <div class="ninjas-works-video">
                  <iframe id="ytplayer" type="text/html" width="400" height="300" src="https://www.youtube.com/embed/_QdREfAxlAY?loop=1"
                  frameborder="0" allowfullscreen></iframe></div>
              </div>
              <div class="pages-col">
                <div class="ninjas-works-impressions">
                  <div class="ninjas-works-container">
                    <div class="pages-col ninjas-icon">
                      <img src="<%= asset_path "ninjas-icon/ucchi.jpg" %>" /><br>
                      <p>うっちー<br></p>
                    </div>
                    <div class="pages-col">
                      <h4>作ったNinjaのメッセージ</h4>
                      <p>
                        赤いハートを上下左右キーで動かして、猫が飛ばしてくる矢印をよけるゲームです。<br>
                        赤、青矢印はまっすぐ飛びますが、白い矢印はハートに向かって追尾してきて、<br>
                        さらにあたってしまうと少しの間ハートが止まります。<br>
                        しかし、白矢印は赤や青よりダメージが低いです。<br>
                        矢印の色別に速度や動きを変えたりと工夫しました。<br>
                      </p>
                      <%= link_to "遊ぶ / コードを見てみる", 'https://scratch.mit.edu/projects/210911830/', 
                        class: 'btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-js-ripple-effect', target: "_new" %>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </section>
      </article>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">
            CoderDojo Konan Okayama Official Site
          </div>
          <ul class="mdl-mini-footer__link-list">
            <li>Copyright © 2018 CoderDojo Konan Okayama</li>
          </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://twitter.com/coderdojo_konan" title="Twitter"><i class="fa  fa-twitter"></i></a></button>
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="http://facebook.com/Coderdojo.Konan/" title="Facebook"><i class="fa  fa-facebook"></i></a></button>
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://www.instagram.com/coderdojo_konan/" title="Instagram"><i class="fa  fa-instagram"></i></a></button>
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://github.com/CoderDojo-Konan-Okayama" title="Github"><i class="fa  fa-github"></i></a></button>
        </div>
      </footer>
    </main>
  </div>