- provide :title, '記事一覧'

.box.box-default
  .box-header.with-border
    %h3.box-title 記事一覧
    .box-tools.pull-right
      %a{:href => new_admin_post_path}
        %button.btn.btn-box-tool.btn.btn-box-tool{:type => "button", :data-widget => "collapse"}
          %i.fa.fa-plus
          新規作成
  .box-body
    %table#posts-list.table.table-striped.table-bordered
      %thead
        %tr
          %th Title
          %th Published at
          %th Author
          %th Published?
          %th
          %th
          %th
          
      %tbody
        - @posts.each do |post|
          %tr
            %td= post.title
            %td= post.published_at
            %td= post.author_id
            %td
              - if post.published?
                Published
              - else
                Not Published
            %td= link_to 'Preview', [:admin, post], :target=>["_new"]
            %td= link_to 'Edit', edit_admin_post_path(post)
            %td= link_to 'Destroy', [:admin, post], method: :delete, data: { confirm: 'Are you sure?' }
