- provide :title, '記事一覧 -Dashboard'

%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Published at
      %th Author
      %th Published?
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.published_at
        %td= post.author_id
        %td
          - if @posts.published.exists? post.id
            Published
          - else
            Not Published
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_admin_post_path(post)
        %td= link_to 'Destroy', [:admin, post], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_admin_post_path
