%p#notice= notice

%p
  %b Body:
  = @post.body
%p
  %b Title:
  = @post.title
%p
  %b Published at:
  = @post.published_at
%p
  %b Author:
  = @post.author_id
%p
  %b Slug:
  = @post.slug

= link_to 'Edit', edit_admin_post_path(@post)
\|
= link_to 'Back', admin_posts_path
