!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "robots", :content => "noindex"}/
    %title= admin_full_title(yield :title)
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    // %meta{:content => "summary", :name => "twitter:card"}/
    // %meta{:content => "@coderdojo_konan", :name => "twitter:site"}/
    // %meta{:content => "#{full_title(yield(:title))}", :name => "twitter:title"}/
    // %meta{:content => "#{yield(:desc)}", :name => "twitter:description"}/
    // %meta{:content => "#{full_title(yield(:title))}", :property => "og:title"}/
    // %meta{:content => "http://#{request.host}#{request.fullpath}", :property => "og:url"}/
    // %meta{:content => "#{yield(:desc)}", :property => "og:description"}/
    // %meta{:content => "CoderDojo Konan Okayama Official Site", :property => "og:site_name"}/
    // %meta{:content => "#{root_url}og-coderdojo-konan-image.jpg", :property => "og:image"}/
    // %meta{:content => "website", :property => "og:type"}/
    // %meta{:content => "1974108302904511", :property => "fb:app_id"}/
    // %meta{:coderdojo => "1881439892127060", :property => "fb:pages"}/
    // %meta{:content => "CoderDojo 岡山 岡南", :name => "author"}/
%body.hold-transition.skin-blue.sidebar-mini
  .wrapper
    / Main Header
    %header.main-header
      / Logo
      %a.logo{:href => ""}
        / mini logo for sidebar mini 50x50 pixels
        %span.logo-mini
          %b> A
          LT
        / logo for regular state and mobile devices
        %span.logo-lg
          %b> Admin
          LTE
      / Header Navbar
      %nav.navbar.navbar-static-top{:role => "navigation"}
        / Sidebar toggle button
        %a.sidebar-toggle{"data-toggle" => "push-menu", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
        / Navbar Right Menu
        .navbar-custom-menu
          %ul.nav.navbar-nav
            / Messages: style can be found in dropdown.less
            %li.dropdown.messages-menu
              / Menu toggle button
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-envelope-o
                %span.label.label-success 4
              %ul.dropdown-menu
                %li.header You have 4 messages
                %li
                  / inner menu: contains the messages
                  %ul.menu
                    %li
                      / start message
                      %a{:href => "#"}
                        .pull-left
                          / User Image
                          %img.img-circle{:alt => "User Image", :src => ""}/
                        / Message title and timestamp
                        %h4
                          Support Team
                          %small
                            %i.fa.fa-clock-o
                            5 mins
                        / The message
                        %p Why not buy a new awesome theme?
                    / end message
                  / /.menu
                %li.footer
                  %a{:href => "#"} See All Messages
            / /.messages-menu
            / Notifications Menu
            %li.dropdown.notifications-menu
              / Menu toggle button
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-bell-o
                %span.label.label-warning 10
              %ul.dropdown-menu
                %li.header You have 10 notifications
                %li
                  / Inner Menu: contains the notifications
                  %ul.menu
                    %li
                      / start notification
                      %a{:href => "#"}
                        %i.fa.fa-users.text-aqua
                        5 new members joined today
                    / end notification
                %li.footer
                  %a{:href => "#"} View all
            / Tasks Menu
            %li.dropdown.tasks-menu
              / Menu Toggle Button
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-flag-o
                %span.label.label-danger 9
              %ul.dropdown-menu
                %li.header You have 9 tasks
                %li
                  / Inner menu: contains the tasks
                  %ul.menu
                    %li
                      / Task item
                      %a{:href => "#"}
                        / Task title and progress text
                        %h3
                          Design some buttons
                          %small.pull-right 20%
                        / The progress bar
                        .progress.xs
                          / Change the css width attribute to simulate progress
                          .progress-bar.progress-bar-aqua{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
                            %span.sr-only 20% Complete
                    / end task item
                %li.footer
                  %a{:href => "#"} View all tasks
            / User Account Menu
            %li.dropdown.user.user-menu
              / Menu Toggle Button
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                / The user image in the navbar
                %img.user-image{:alt => "User Image", :src => ""}/
                / hidden-xs hides the username on small devices so only the image appears.
                %span.hidden-xs Alexander Pierce
              %ul.dropdown-menu
                / The user image in the menu
                %li.user-header
                  %img.img-circle{:alt => "User Image", :src => ""}/
                  %p
                    Alexander Pierce - Web Developer
                    %small Member since Nov. 2012
                / Menu Body
                %li.user-body
                  .row
                    .col-xs-4.text-center
                      %a{:href => "#"} Followers
                    .col-xs-4.text-center
                      %a{:href => "#"} Sales
                    .col-xs-4.text-center
                      %a{:href => "#"} Friends
                  / /.row
                / Menu Footer
                %li.user-footer
                  .pull-left
                    %a.btn.btn-default.btn-flat{:href => "#"} Profile
                  .pull-right
                    %a.btn.btn-default.btn-flat{:href => "#"} Sign out
            / Control Sidebar Toggle Button
            %li
              %a{"data-toggle" => "control-sidebar", :href => "#"}
                %i.fa.fa-gears
    / Left side column. contains the logo and sidebar
    %aside.main-sidebar
      / sidebar: style can be found in sidebar.less
      %section.sidebar
        / Sidebar Menu
        %ul.sidebar-menu{"data-widget" => "tree"}
          %li.header HEADER
          / Optionally, you can add icons to the links
          %li.active
            %a{:href => admin_posts_url }
              %i.fa.fa-link
              %span Posts

        / /.sidebar-menu
      / /.sidebar
    / Content Wrapper. Contains page content
    .content-wrapper
      / Content Header (Page header)
      %section.content-header
        %h1
          = yield(:title)
          %small= yield(:desc)
        %ol.breadcrumb
          %li
            %a{:href => "#"}
              %i.fa.fa-dashboard
              Level
          %li.active Here
      / Main content
      %section.content.container-fluid
        /
        = yield
      / /.content
    / /.content-wrapper
    / Main Footer
    %footer.main-footer
      / To the right
      .pull-right.hidden-xs
        Anything you want
      / Default to the left
      %strong
        Copyright © 2018
        = succeed "." do
          %a{:href => - root_url } CoderDojo Konan Okayama
      All rights reserved.
    / Control Sidebar
    %aside.control-sidebar.control-sidebar-dark
      / Create the tabs
      %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#control-sidebar-home-tab"}
            %i.fa.fa-home
        %li
          %a{"data-toggle" => "tab", :href => "#control-sidebar-settings-tab"}
            %i.fa.fa-gears
      / Tab panes
      .tab-content
        / Home tab content
        #control-sidebar-home-tab.tab-pane.active
          %h3.control-sidebar-heading Recent Activity
          %ul.control-sidebar-menu
            %li
              %a{:href => "javascript:;"}
                %i.menu-icon.fa.fa-birthday-cake.bg-red
                .menu-info
                  %h4.control-sidebar-subheading Langdon's Birthday
                  %p Will be 23 on April 24th
          / /.control-sidebar-menu
          %h3.control-sidebar-heading Tasks Progress
          %ul.control-sidebar-menu
            %li
              %a{:href => "javascript:;"}
                %h4.control-sidebar-subheading
                  Custom Template Design
                  %span.pull-right-container
                    %span.label.label-danger.pull-right 70%
                .progress.progress-xxs
                  .progress-bar.progress-bar-danger{:style => "width: 70%"}
          / /.control-sidebar-menu
        / /.tab-pane
        / Stats tab content
        #control-sidebar-stats-tab.tab-pane Stats Tab Content
        / /.tab-pane
        / Settings tab content
        #control-sidebar-settings-tab.tab-pane
          %form{:method => "post"}
            %h3.control-sidebar-heading General Settings
            .form-group
              %label.control-sidebar-subheading
                Report panel usage
                %input.pull-right{:checked => "checked", :type => "checkbox"}/
              %p
                Some information about this general settings option
            / /.form-group
        / /.tab-pane
    / /.control-sidebar
    .control-sidebar-bg
    / ./wrapper
