<!DOCTYPE html>
<html>
<head>
  <!-- Page styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <title><%= yield(:title) %> | CoderDojo Konan Okayama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div class="mdl-layout mdl-js-layout pages-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll pages-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a href="<%= root_path %>"><img src="/assets/coderdojo-konan-header-logo.png" alt="CoderDojo Konan Okayama"></a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">CoderDojo Konan Okayama Official Site</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <article>
        <section id="pages-section">
          <div class="pages-section-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h1 class="mdl-card__title-text"><%= yield(:title) %></h1>
            </div>
            <div class="pages-contents mdl-card__supporting-text">
              <%= yield %>
            </div>
          </div>
        </section>
      </article>  
    </main>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
          More Information
        </div>
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Copyright © 2018 CoderDojo Konan Okayama</a></li>
        </ul>
      </div>
      <div class="mdl-mini-footer__right-section">
        <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://twitter.com/coderdojo_konan" title="Twitter"><i class="fa  fa-twitter"></i></a></button>
        <button class="mdl-mini-footer__social-btn"><a target="_blank" href="http://facebook.com/Coderdojo.Konan/" title="Facebook"><i class="fa  fa-facebook"></i></a></button>
        <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://www.instagram.com/coderdojo_konan/" title="Instagram"><i class="fa  fa-instagram"></i></a></button>
        <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://github.com/CoderDojo-Konan-Okayama" title="Github"><i class="fa  fa-github"></i></a></button>
      </div>
    </footer>
  </div>
</body>
</html>