<!DOCTYPE html>
<html>
<head>
  <!-- Page styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <title><%= yield(:title) %> | CoderDojo Konan Okayama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@coderdojo_konan" />
  <meta name="twitter:title" content="<%= full_title(yield(:title)) %>" />
  <meta name="twitter:description" content="<%= yield(:desc) %>" />
  <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
  <meta property="og:url" content="http://<%= request.host %><%= request.fullpath %>" />
  <meta property="og:description" content="<%= yield(:desc) %>" />
  <meta property="og:site_name"  content="CoderDojo Konan Okayama Official Site" />
  <meta property="og:image" content="<%= root_url %>og-coderdojo-konan-image.jpg"/>
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="1974108302904511" />
  <meta property="fb:pages" coderdojo="1881439892127060" />
  <meta name="author" content="CoderDojo 岡山 岡南" />
</head>
<body>
  <div class="mdl-layout mdl-js-layout pages-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll pages-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title"><a href="<%= root_path %>"><img src="<%= asset_path "coderdojo-konan-header-logo.png" %>" alt="CoderDojo Konan Okayama"></a></span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
          <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">CoderDojo Konan Okayama Official Site</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="<%= @first_link[:url] %>"><%= @first_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @second_link[:url] %>"><%= @second_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @third_link[:url] %>"><%= @third_link[:text] %></a>
        <a class="mdl-navigation__link" href="<%= @fourth_link[:url] %>"><%= @fourth_link[:text] %></a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <article>
        <section id="pages-section">
          <div class="pages-section-card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h1 class="mdl-card__title-text"><%= yield(:title) %></h1>
            </div>
            <div class="pages-contents mdl-card__supporting-text">
              <div class="twitter-share-button-style"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="<%= yield(:title) + " - CoderDojo 岡山 岡南 公式HP"  %>" data-url="<%= yield(:url) %>" data-via="CoderDojo_Konan" data-hashtags="CoderDojo岡南" data-related="CoderDojo_Konan,CoderDojoJapan" data-show-count="false">Tweet</a></div>
              <div class="fb-share-button fb-share-button-style" data-href="<%= request.url %>" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.url %>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">シェア</a></div>
              <%= yield %>
            </div>
          </div>
        </section>
      </article>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">
            CoderDojo Konan Okayama Official Site
          </div>
          <ul class="mdl-mini-footer__link-list">
            <li>Copyright © 2018 CoderDojo Konan Okayama</li>
          </ul>
        </div>
        <div class="mdl-mini-footer__right-section">
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://twitter.com/coderdojo_konan" title="Twitter"><i class="fa  fa-twitter"></i></a></button>
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="http://facebook.com/Coderdojo.Konan/" title="Facebook"><i class="fa  fa-facebook"></i></a></button>
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://www.instagram.com/coderdojo_konan/" title="Instagram"><i class="fa  fa-instagram"></i></a></button>
          <button class="mdl-mini-footer__social-btn"><a target="_blank" href="https://github.com/CoderDojo-Konan-Okayama" title="Github"><i class="fa  fa-github"></i></a></button>
        </div>
      </footer>
    </main>
  </div>
</body>
</html>