!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %title= full_title(yield(:title))
    :javascript
      (function(w,d){
        var s,e = d.getElementsByTagName("script")[0],
        a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
        s.async=!0;s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};
    
        a("https://apis.google.com/js/plusone.js");
        a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
        a("//platform.twitter.com/widgets.js","twitter-wjs");
        a("https://widgets.getpocket.com/v1/j/btn.js?v=1");
      })(this, document);
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "@coderdojo_konan", :name => "twitter:site"}/
    %meta{:content => "#{full_title(yield(:title))}", :name => "twitter:title"}/
    %meta{:content => "#{yield(:desc)}", :name => "twitter:description"}/
    %meta{:content => "#{full_title(yield(:title))}", :property => "og:title"}/
    %meta{:content => "http://#{request.host}#{request.fullpath}", :property => "og:url"}/
    %meta{:content => "#{yield(:desc)}", :property => "og:description"}/
    %meta{:content => "CoderDojo Konan Okayama Official Site", :property => "og:site_name"}/
    %meta{:content => "#{root_url}og-coderdojo-konan-image.jpg", :property => "og:image"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "1974108302904511", :property => "fb:app_id"}/
    %meta{:coderdojo => "1881439892127060", :property => "fb:pages"}/
    %meta{:content => "CoderDojo 岡山 岡南", :name => "author"}/
  %body
    #fb-root
    = yield
