<!DOCTYPE html>
<html>
    <head>
      <!-- Page styles -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= favicon_link_tag %>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="twitter:card" content="summary" />
      <meta name="twitter:site" content="@coderdojo_konan" />
      <meta name="twitter:title" content="<%= full_title(yield(:title)) %>" />
      <meta name="twitter:description" content="<%= yield(:desc) %>" />
      <meta name="twitter:image" content="<%= root_url %>og-coderdojo-konan-image.jpg"/>
      <meta property="og:title" content="<%= full_title(yield(:title)) %>" />
      <meta property="og:url" content="http://<%= request.host %><%= request.fullpath %>" />
      <meta property="og:description" content="<%= yield(:desc) %>" />
      <meta property="og:site_name"  content="CoderDojo Konan Okayama Official Site" />
      <meta property="og:image" content="<%= root_url %>og-coderdojo-konan-image.jpg "/>
      <meta property="og:type" content="website" />
      <meta property="fb:app_id" content="1974108302904511" />
      <meta property="fb:pages" coderdojo="1881439892127060" />
      <meta name="author" content="CoderDojo 岡山 岡南" />
    </head>
    <body>
        <%= yield %>
    </body>
</html>